
.header{
    height: 4rem;
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-bottom: 25px;

    .options{
        display: flex;
        justify-content: space-between;
        width: 30%;
        align-items: center;

        .option{
            text-decoration: none;
            font-size: 26px;
            color: gray;

            &:hover{
                color: purple;
            }
        }

        


    
    }

    

}